<ion-header>
    <ion-navbar color="dark">
        <ion-title>
            <img alt="logo" height="40" src="../../assets/icon/lapid.PNG">
        </ion-title>
    </ion-navbar>
</ion-header>

<style>
    .borderSoft {
        border-radius: 9px 9px 20px 20px;
        -moz-border-radius: 9px 9px 20px 20px;
        -webkit-border-radius: 9px 9px 20px 20px;
        border: 0px solid #000000;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(128, 123, 128, 1);
        -moz-box-shadow: 10px 10px 5px 0px rgba(128, 123, 128, 1);
        box-shadow: 10px 10px 5px 0px rgba(128, 123, 128, 1);
    }
</style>
<ion-content padding style="background-color: #cccccc">


    <ion-card *ngFor="let item of cargar.imagenes" class="borderSoft">
        <div style="padding: 2px">
            <img height="350px" [src]="item.img" alt="">
        </div>
        <ion-card-content>
            <ion-card-title>{{item.titulo}}</ion-card-title>
            <ion-card-content>
                <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
            </ion-card-content>
        </ion-card-content>

        <ion-row>
            <ion-col text-right>
                <button (click)="share(item)" icon-left ion-button clear color="primary">
                    <ion-icon color="primary" name="share-alt"></ion-icon>
                    Share
                </button>
            </ion-col>
        </ion-row>
    </ion-card>




    <ion-fab right bottom>
        <button (click)="mostrar_modal()" ion-fab color="danger">
          <ion-icon name="add"></ion-icon>
         
        </button>
    </ion-fab>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" [enabled]="hay">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>