<ion-header>

    <ion-navbar color="dark">
        <ion-buttons>
            <button color="primary" (click)="cerrar_modal()" ion-button>
              Close
            </button>
        </ion-buttons>
        <ion-title>{{ titulo | placeHolder:'Create new post' }}</ion-title>
        <ion-buttons end>

            <button [disabled]="titulo.length <= 1 || image64.length <= 1 " color="primary" (click)="cargar_post()" ion-button>
              Upload
            </button>
        </ion-buttons>


    </ion-navbar>

</ion-header>
<ion-content padding>

    <ion-list>

        <ion-item>
            <ion-label floating>Title</ion-label>
            <ion-input type="text" [(ngModel)]="titulo"></ion-input>
        </ion-item>
        <ion-item *ngIf="imagenPreviw">
            <img [src]="imagenPreviw" alt="">
        </ion-item>
        <ion-item *ngIf="!imagenPreviw">
            <img height="350px" src="../../assets/imgs/sinImagen.png" alt="">
        </ion-item>


    </ion-list>
    <ion-grid>
        <ion-row>
            <ion-col>
                <button color="danger" (click)="_imagePicker()" mini ion-button block> <ion-icon name="ios-images"></ion-icon> </button>
            </ion-col>
            <ion-col>
                <button color="danger" (click)="mostrarCamara()" ion-button block> <ion-icon name="camera"></ion-icon> </button>
            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>